

<input #id (keyup)="$event.keyCode==13 && get(id.value)">
<form [formGroup]="Friend" (ngSubmit)="Save()">
  Name<input type="text" formControlName="Name"><br>
  Type<select formControlName="FriendType">
    <option>School</option>
    <option>College</option>
    <option>Versity</option>
    </select>
    <br>
    IsClose<input type="checkbox"formControlName="isClose">
    <br>
    BirthDate<input type="date"formControlName="BirthDate" ><br>
    Gender<input type="radio" name="Gendar" formControlName="Gendar" value="Male"> Male <input type="radio" name="Gendar" formControlName="Gendar" value="FeMale"> FeMale
   <br>
    <button>Save</button>
</form>
<button (click)="Delete()">Delete</button>